<div class="form">
  <p>
    <strong>Title:</strong>
    <%= mission.title %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= mission.done %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mission.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= mission.date %>
  </p>

</div>
