 <header>
  <div class="image-container">
    <%= image_tag("Group.svg")%>
</div>
    <h1 class="wasteless">Wasteless</h1>
    <p>Un monde sans <span style="color: #9FC131">déchet</span></p>
    <p>commence par changer nos <span style="color: #9FC131">habitudes</span><P>
  </header>

<h1>Missions</h1>

<div class="mission">
  <% @missions.each do |mission| %>
    <%= render mission %>
    <p>
      <%= link_to "Show this mission", mission %>
    </p>
  <div class="rectangle">
      <p class="date_1">JUIL.</p>
      <p class="date_1">02</p>
      <p class="tache">Tâche 4</p>
      <button class="rectangle_effectue">
        <p class="effectue">EFFECTUE</p>
      </button>
  </div>
  <% end %>
</div>

<%= link_to "New mission", new_mission_path %>

<body>
  <h1 class="titre_1">Progrès</H1>
  <h1 class="semaine_1">Semaine 2</p>

  <div class="rectangle">
    <p class="date_1">JUIL.</p>
    <p class="date_1">02</p>
    <p class="tache">Tâche 4</p>
    <button class="rectangle_effectue">
      <p class="effectue">EFFECTUE</p>
    </button>
  </div>

  <div class="rectangle">
    <p class="date_1">JUIN</p>
    <p class="date_1">29</p>
    <p class="tache">Tâche 3</p>
    <button class="rectangle_effectue">
      <p class="effectue">EFFECTUE</p>
    </button>
  </div>

    <h1 class="semaine_2">Semaine 1</p>
  
  <div class="rectangle">
    <p class="date_1">AOUT</p>
    <p class="date_1">28</p>
    <p class="tache">Tâche 2</p>
    <button class="rectangle_effectue">
      <p class="effectue">EFFECTUE</p>
    </button>
  </div>

  <div class="rectangle">
    <p class="date_1">JUIN 21</p>
    <p class="tache">Tâche 1</p>
    <button class="rectangle_effectue">
      <p class="effectue">EFFECTUE</p>
    </button>
  </div>

  </body>

 

</html>



