 <header>
    <h1 class="wasteless">Wasteless</h1>
    <p>Un monde sans déchet</p>
    <p>commence par changer nos habitudes<P>
  </header>
<h1>Missions</h1>

<div id="missions">
  <% @missions.each do |mission| %>
    <%= render mission %>
    <p>
      <%= link_to "Show this mission", mission %>
    </p>
  <% end %>
</div>

<%= link_to "New mission", new_mission_path %>

<div class="rectangle">
  <button class="rectangle_effectue">
    <p class="effectue">Effectué</p>
  </button>
  <p class="date_1">JUIL. 02</p>
</div>

<div class="rectangle">
  <button class="rectangle_effectue">
    <p class="effectue">Effectué</p>
  </button>
</div>

<div class="rectangle">
  <button class="rectangle_effectue">
    <p class="effectue">Effectué</p>
  </button>
</div>

<div class="rectangle">
  <button class="rectangle_effectue">
    <p class="effectue">Effectué</p>
  </button>
</div>

  </body>

 

</html>



